.advantages-list {
  display: flex;
  flex-direction: column;
  list-style: none;

  margin: 0 auto;
  padding: 0;
  margin-top: 7px;

}

.advantages-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.advantages-list__item--grey {
  background-color: #eeeeee;
  padding-top: 30px;

  &::after {
    content: "";
    width: 280px;
    height: 1px;
    left: 20px;
    margin-top: 1px;
    background-color: #d6d6d6;
  }
}

.advantages-list__item--grey:nth-child(7)::after { /* Не понятно почему 7ой ?!! '( */
  display: none;
}

.advantages-list__image {
  display: block; /* Убираем белые полосы снизу и сверху изображения */
  background-color: #000000;
}

.advantages-list__image--first {
  order: -2;
  margin: 0;
  padding: 0;
}

.advantages-list__image--second {
  margin: 0;
  padding: 0;
}

.advantages-list__item:nth-child(1) {
  order: -3; /* Меняем расположение флекс элементов что-бы расположить tips */
  padding-top: 55px;
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages-list__item:nth-child(3) {
  padding-top: 41px;
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages-list__number {
  margin: 0;
  padding: 0;
  margin-bottom: 3px;

  &::before, 
  &::after {
    content: "—";
    margin-right: 6px;
    margin-left: 6px;
  }
}

.advantages-list__title {
  order: -1;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.advantages-list__describe {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  width: 280px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 43px;
}

.advantages-list__describe--grey {
  margin-bottom: 30px;
}

.tips {
  order: -1;
}

@media (min-width: @tablet-width) {
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .advantages-list__item {
    min-width: 256px; /*Фиксируем ширину по сетке в макете*/
  }

  .advantages-list__item--image {
    min-width: 512px; /*Временно для сетки*/
    border: 1px solid red;
  }

  .advantages-list__describe {
    width: 200px;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages-list__item {
    min-width: 400px; /*Фиксируем ширину по сетке в макете*/
  }

  .advantages-list__item--image {
    min-width: 800px; /*Временно для сетки*/
  }

  .advantages-list__describe {
    display: flex;
    width: 300px;
    padding: 0;
    margin: 0;
  }
}
