.book {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #000000;
}

.book__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 21px;
  line-height: 26px;
}

.book__text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
}

.book__find {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 19px;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  background-color: #81b3d2;
}
