.button__find {
  text-decoration: none;
  margin-top: 37px;
}

.button__review {
  text-decoration: none;
  margin: 0 auto;
  margin-top: 40px;
}

@media (min-width: @tablet-width) {
  .buttom__find {
  }
}
