.form__title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.form__label {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: #333333;
}

.form__input {
  background-color: #f2f2f2;
}

.form__send {
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;
  background-color: #81b3d2;
}
