.form {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.form__title {
  margin: 0;
  padding: 0;

  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.form__label {
  margin: 0;
  padding: 0;

  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: #333333;

  border: 1px solid red;
}

.form__label--radio,
.form__label--checkbox {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #333333;
}

.form__input {
  /* Делаем так, чтобы напись не вылезала за границы input */
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  padding-left: 20px;
  padding-top: 18px;
  padding-bottom: 16px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;

  background-color: #f2f2f2;
}

.form__send {
  width: 279px;
  padding: 0;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 44px;
  padding-right: 49px;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 700;

  background-color: #81b3d2;
  border: 0;
}

.form-about__wrapper {
  /*Блок Form-about */
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-bottom: 15px;
}

.form-about__title {
  margin-bottom: 12px;
  text-align: center;
}

.form-about__label {
  /* Выравниваем относительно input */
  align-self: center;
  margin: 0;
  margin-right: 14px;
  margin-left: 20px;
}

.form-about__input {
  width: 150px;
  flex-grow: 1;
  margin-right: 20px;
  /* делаем с двух сторон марджин, чтоб не убегал лайбл от центра выравнивание */
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-contacts__wrapper {
  /* Блок Form-contacts */
  display: flex;
  flex-direction: column;
  /* не уверен нужно ли тут бордер-бокс*/
  box-sizing: border-box;
  width: 320px;
  margin: 0;
  padding: 0;
  padding-bottom: 14px;
}

.form-contacts__title {
  align-self: flex-start;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 26px;
}

.form-contacts__label {
  align-self: flex-start;
  margin-left: 41px;
}

.form-contacts__phone,
.form-contacts__mail {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 9px;
  margin-bottom: 14px;
}

.form-impression__wrapper {
  /* Блок Impression */
  margin: 0;
  padding: 0;
}

.form-impression__title {
  padding-top: 20px;
  text-align: center;
}

.form-impression__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  border: 1px solid red;

  margin: 0;
  padding: 0;
}

.form-impression__item {
  display: flex;
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
  border: 1px solid green;
}

.form-impression__item:last-child {
  margin-bottom: 42px;
}

.form-impression__radio {
  align-self: center;
  margin: 0;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0;
}

.form-impression__label {
  border: 1px solid red;
}

.form-attraction__wrapper {
  /* Блок Attraction */
  margin: 0;
  padding: 0;
}

.form-attraction__title {
  padding-top: 20px;
  text-align: center;
}

.form-attraction__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

.form-attraction__item {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: 1px solid green;
}

.form-attraction__checkbox {
  align-self: center;
  margin: 0;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0;
}

.form-review__wrapper {
  /* Блок Review */
  display: flex;
  width: 320px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.form-review__title {
  text-align: center;
  margin: 0;
  padding: 0;
}

.form-review__input {
  box-sizing: border-box;
  width: 280px;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  padding-top: 10px;
  padding-left: 21px;
  padding-right: 21px;

  font-size: 16px;
  line-height: 26px;
  font-weight: 700;

  background-color: #f2f2f2;
}

@media (min-width: @tablet-width) {
  .form {
    width: 670px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__wrapper {
    width: 325px;
  }

  .form-about__wrapper {
    flex-grow: 1;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 0;
    padding: 0;
  }

  .form-about__label {

  }

  .form-about__input {

  }

  .form-impression__wrapper {
    order: -1;
  }

  .form-contacts__wrapper {
    width: 100%;
  }

  .form-attraction__wrapper {
    width: 100%;
  }

  .form-attraction__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
  }

  .form-attraction__item {
    width: 220px;
    flex-grow: 1;
  }

  .form-review__wrapper {
    width: 100%;
  }

  .form-review__input {
    width: 100%;
    margin-top: 57px;
  }

  .form__send {
    width: 324px;
  }
}
