.gallery {
  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
}

.gallery__title {
  font-weight: 700;
}

.gallery__author {
  text-transform: none;
  font-style: normal;
}

.gallery__like {
  font-weight: 700;
}
