.intro {
  width: 100%;
  min-height: 389px;
  overflow: hidden;
  position: relative;
}

.intro__background {
  position: absolute;
  left: -224px;
}

.intro__title {
  position: absolute;
  top: 90px;
  left: 20px;
}

@media (min-width: @tablet-width) {
.intro {
  border: 1px solid blue;
  min-height: 518px;
  }
.intro__background {
  position: static;
}

.intro__title {
  align-items: center;
  border: 1px solid red;
  top: 90px;
  left: 250px;
  }
}
