.photo {
  text-transform: uppercase;
}

.photo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.photo__describe {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.photo-gallery {
  margin: 0;
  padding: 0;
}
