.tips {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.tips__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tips__title {
  font-size: 21px;
  font-style: 700px;
  line-height: 15px;
}

.tips__describe {
  font-size: 14px;
  line-height: 21px;
}
