@import "fonts.less";
@import "blocks/button.less";
@import "blocks/nav.less";
@import "blocks/list.less";
@import "blocks/intro.less";
@import "blocks/advantages.less";
@import "blocks/advantages-list.less";
@import "blocks/tips.less";
@import "blocks/book.less";
@import "blocks/footer.less";
@import "blocks/teg.less";
@import "blocks/social.less";
@import "blocks/copyright.less";
@import "blocks/intro-not-index.less";
@import "blocks/intro-photo.less";
@import "blocks/photo";
@import "blocks/gallery.less";
@import "blocks/video.less";
@import "blocks/review.less";
@import "blocks/form.less";

body {
  background-color: #ffffff;
  font-family: @font-ptsans;

  width: 100%;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0;
}
